:root {
  --ivory: #EEF1E4ff;
  --mint-cream: #8EC0D9;
  --oxford-blue: #061D37ff;
  --charcoal: #04192C;
  --indigo-dye: #294B6Cff;
}
* {
  margin: 0px;
  padding: 0px;
}




body{
  font-family: "noto sans", sans-serif;
  background-color: var(--ivory);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-color: var(--mint-cream); */
}
.nav-elm{
  color: var(--oxford-blue);
  text-decoration: none;
  font-size: 2em;
}
.home {
  font-size: large;
  font-size: 1.6em;
  font-weight: bolder;
}
.nav-bar, .nav-bar-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: fit-content;
  height: 100px;
  gap: 6vw;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 60vw;
  gap: 36px;
}
p{
  height: fit-content;
  font-size: 1.3rem;
}
li{
  font-size: 1.3rem;
}

h1 {
  text-decoration: underline;
  padding-bottom: 2ch;
}
.box, .main-box{
  box-shadow: -34px 30px 50px 0px #425d6b;
}

.box{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  aspect-ratio: 1 / 1;
  width:  calc(50% - 18px);
  box-sizing: border-box;
  background-color: var(--indigo-dye);
  border: 10px solid var(--charcoal);
  border-color: var(--charcoal);
  border-radius: 30px;
}
.main-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 30ch;
  max-width: 50ch;
  height: 960px;
  border-radius: 30px;
}
.box-container{
  display: flex;
  flex-wrap: wrap;
  width: 936px;
  height: fit-content;
  gap: 60px 36px;
}
.upper, .lower {
  padding: 4ch;
}
.upper{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--mint-cream);
  height: 35%;
}
.lower{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 65%;
  background-color: var(--charcoal);
  color: var(--ivory);
}

.phone, .mail {
  color: black;
}
span{
  font-weight: bold;
}
.load-bar{
  display: flex;
  justify-content: space-between;
}
.gauge-info {
  
  aspect-ratio: 1 / 1;
  width: 10px;
  border: 10px solid white;
  border-radius: 50px;
}















@media screen and (max-width: 768px) {
.container{
  flex-direction: column;
}
  .nav-elm{
    font-size: 1.8em;
  }
  .home{
    visibility: collapse;
  }
  ul{
    align-items: center;
  }
}